/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 @media screen and (max-width: 996px) {
  .hero {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
  }
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  margin: 0;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  padding: 2.5rem 6rem;
}

.leftComponent {
  flex-flow: nowrap;
  flex: 2;
}

.rightComponent {
  flex: 1.7;
}

.heroTitle {
  font-size: 3rem;
  font-family: 'Lota Grotesque', sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  transition: all var(--ifm-transition-fast);
  display: inline;
}

.heroTitle span {
  background: linear-gradient(225deg, #FFB200 0.1%, #FFB100 8.15%, #FFAF02 15.6%, #FEAB04 22.55%, #FDA606 29.08%, #FCA00A 35.28%, #FB980E 41.26%, #FA9013 47.1%, #F98618 52.89%, #F77B1E 58.73%, #F56F24 64.71%, #F3632B 70.91%, #F25532 77.44%, #EF473A 84.39%, #ED3842 91.84%, #EB284B 99.9%),
  linear-gradient(0deg, #41465D, #41465D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent !important;
}

.heroSubtitle {
  display: block;
  min-width: 100%;
  margin: 0 6.4rem;
  font-size: 1.5rem;
}

.heroContent {
  padding: 0 2.5rem;
  font-size: 1.5rem;
}

.buttonContainer {
  margin: 0;
  display: block;
}

.svgContainer {
  padding: 0 2.4rem 1rem;
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.svg {
  fill: #161717;
  width: 4rem;
}

[data-theme='dark'] .svg {
  fill: #f5f4f4;
}

.button {
  display: inline-block;
  min-width: 11rem;
  margin: 1rem 2rem;
  padding: 1rem 4rem;
  background: #ed3545;
  border-radius: 0.5rem;
  font-weight: 600;
  text-align: center;
  color: white;
}

.button:hover {
  color: white;
  background: #ad1934;
  text-decoration: none;
}

[data-theme='dark'] .button {
  background: #1fa588;
  border-color: #1b1b1d;
}

[data-theme='dark'] .button:hover {
  background: #1a8870;
}